@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
    color: whitesmoke;
}

@media screen and (min-width: 1024px) {
    body {
        overflow: hidden;
    }
}

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Hide scrollbar of  */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Scroll bar of the entire webpage */
html::-webkit-scrollbar {
    width: 13px;
}

html::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}

html::-webkit-scrollbar-track {
    background-color: #1E293B;
}

/* Scroll bar of items list */
.reslt-section::-webkit-scrollbar {
    width: 13px;
}

.reslt-section::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 5px;
}

.reslt-section::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}

.reslt-section::-webkit-scrollbar-track {
    background-color: #1E293B;
}